<footer class="main-footer">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h2>Info Útil</h2>
        <ul>
          <li>
            <a href="#">Horarios</a>
          </li>
          <li>
            <a href="#">Discapacidad</a>
          </li>
          <li>
            <a href="#">Atención General</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2>Acerca de la República Argentina</h2>
        <ul>
          <li>
            <a href="#">Nuestro país</a>
          </li>
          <li>
            <a href="#">Leyes Argentinas</a>
          </li>
          <li>
            <a href="#">Empresas de Transporte</a>
          </li>
          <li>
            <a href="#">Mapa del Rutas</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2>Acerca de Terminales.com.ar</h2>
        <ul>
          <li>
            <a href="#">Acerca de este sitio</a>
          </li>
          <li>
            <a href="#">Términos y condiciones</a>
          </li>
          <li>
            <a href="#">Sugerencias</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid border-top-amarillo bg-primary py-5"></div>
</footer>
